.usual {
    height: 47px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 15px;
    background-color: deepskyblue;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: black;
}

.singleButton {
    margin-left: 150px;
    width: 150px;
}
.disabled {
    opacity: 0.5;
}