.bothButtons {
    display: grid;
    grid-template-columns: 180px 280px;
}

.inc {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    background-color: deepskyblue;
    border-radius: 15px;
    border: none;
    height: 40px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.incDisabled {
    opacity: 0.5;
}

.reset {
    margin-top: 15px;
    margin-right: 25px;
    background-color: deepskyblue;
    border-radius: 15px;
    border: none;
    height: 40px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.resetDisabled {
    opacity: 0.5;
}