.grey {
    border-color: dimGrey !important;
    color: dimGrey !important;
}
.greyBack {
    background-color: dimGrey !important;
}


.orange {
    border-color: Orange !important;
    color: Orange !important;
}
.orangeBack {
    background-color: Orange !important;
}


.purple {
    border-color: mediumSlateBlue !important;
    color: mediumSlateBlue !important;
}
.purpleBack {
    background-color: mediumSlateBlue !important;
}


.green {
    border-color: darkGreen !important;
    color: darkGreen !important;
}
.greenBack {
    background-color: darkGreen !important;
}