.common {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-gap: 100px;
  width: 1100px;
  margin: auto;
}
.frame {
  width: 506px;
  height: 350px;
  margin: 150px auto auto;
  border: 3px solid deepskyblue;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 250px 100px;
  background-color: rgba(117, 190, 218, 0.1);
}
