.common {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*margin-top: 50px;*/
  /*flex-wrap: wrap-reverse;*/
}
.container{
  display: flex;
  margin-top: 200px;
}
.containerBroken{
  display: flex;
  margin-top: 150px;
}
.frame {
  width: 506px;
  height: 350px;
  margin: 0 50px;
  border: 3px solid deepskyblue;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 250px 100px;
  background-color: rgba(117, 190, 218, 0.2);
}
.brokeField{
  display: flex;
  align-items: center;
  color: dimgrey;
  margin-bottom: 10px;
}
.brokeField img{
  height: 45px;
  margin-left: 10px;
}
